<!DOCTYPE html>
<html>
<head>
    <title>Combat</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/combat.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/background.css') }}">
</head>
<body>
    <h1>Combat contre {{ ennemie }}</h1>
    <h2>{{ ennemie }} a {{ ennemies[ennemie]['hp'] }} points de vie restants.</h2>
    <h2>Votre personnage, {{ character }}, a {{ characters[character]['hp'] }} points de vie restants.</h2>
    <div id="actions">
        <form action="/fight" method="post">
            <input type="hidden" name="action" value="attack">
            <input type="submit" value="attack" class="button-1">
        </form>
        <form action="/fight" method="post">
            <input type="hidden" name="action" value="dodge">
            <input type="submit" value="dodge" class="button-2">
        </form>
    </div>
    <div>
        <p id="message">{{ message }}</p>
    </div>
</body>
</html>
