<!DOCTYPE html>
<html>
<head>
    <title>Sélection du personnage</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/background.css') }}">
</head>
<body>
    <h1>Sélectionnez votre personnage</h1>
    <form action="/" method="post">
        <label for="character">Personnage:</label>
        <select name="character" id="character">
            <option value="Boxer">Bob l'éponge Boxeur</option>
            <option value="Thief">Bob l'éponge Voleur</option>
            <option value="Tank">Bob l'éponge Gros</option>
            <option value="Gangster">Bob l'éponge Gangster</option>
        </select>
        <br><br><br><br>
        <input type="submit" value="Combattez" class="button" aria-label="Commencez le combat">
    </form>
</body>
</html>
