<!DOCTYPE html>
<html>
<head>
    <title>Sélection du personnage</title>
</head>
<body>
<h1>Sélectionnez votre personnage</h1>
<form action="/" method="post">
    <label for="personnage">Personnage:</label>
    <select name="personnage" id="personnage">
        <option value="boxeur">Bob l'éponge Boxeur</option>
        <option value="voleur">Bob l'éponge Voleur</option>
        <option value="gros">Bob l'éponge Gros</option>
    </select>
    <br><br>
    <input type="submit" value="Commencer le combat">
</form>
</body>
</html>
